.main{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(193, 239, 239);

}
.container{
    background-color: white;
    
}
.card-container{
    min-height: 300px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}
.btn{
    margin: 3px;
}
.card{
    height: 250px;
    background-color: rgb(218, 218, 234);
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid gray;
    margin: 8px;
}
.card h1{
    background-color: rgb(166, 208, 194);
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;

}
.card h2{
    border-bottom: 2px solid black; 
}
.card h3{
    border-bottom: 2px solid black; 
}
.card a{
    color: White;
    text-decoration: none;
    
}
